/* src/components/DistributionCharts.css */
.distribution-container {
  padding: 1.5rem;
  background-color: #242424;
  border-radius: 8px;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
}

.distribution-container h3, .distribution-container h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.chart-section {
  margin-bottom: 2rem;
}

.progress-bar {
  display: flex;
  height: 25px;
  background-color: #444;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: white;
  line-height: 25px;
  text-align: center;
}

.progress-omega {
  background-color: #1a4d28; /* Verde oscuro - Mismo que en la BD */
}

.progress-no-omega {
  background-color: #5d1c24; /* Rojo oscuro - Mismo que en la BD */
}

.legend {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.legend .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.omega-dot {
  background-color: #1a4d28; /* Verde oscuro */
}

.no-omega-dot {
  background-color: #5d1c24; /* Rojo oscuro */
}
