
.button-group {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.analyzer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combination-inputs input {
  width: 60px; /* Increased width */
  height: 60px; /* Increased height */
  font-size: 2rem; /* Increased font size */
  text-align: center; /* Center the numbers */
}

.App-header h1 {
  color: #00D8FF; /* Zen Lotto title color */
}

.App-header nav {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
